# Python
__pycache__/
*.py[cod]
*.pyo
*.env
*.venv/
env/
venv/
.Python
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Azure Functions local settings
local.settings.json

# Node / React
node_modules/
build/
*.log
.env

# Mac
.DS_Store

# Others
*.sqlite3
*.db
